#sign{
  background-color: #fff;
  height : 100vh;
  transition-delay : 0.5s;
  background-image: url('../../medias/images/envoi.jpg');
  background-repeat: repeat-x;
}
#modal{
  width:350px;
  background-color: #363f4b;
} 
#poptitre{
  background-color: #21272e;
  font-size : 35px;
  padding:10px;
  color: #fff;
}
#inpute{
  width: 275px;
  height: 35px;
  border-radius: 12px;
  margin: 10px;
  /* -ms-text-size-adjust: auto; */
  background-color:#38393a;
  color: #fff;
  font-size: 25px;
}

label{
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}
 .valider{
  margin: 15px;
  margin-bottom: 0px;
  font-size: 35px;
  height: 45px;
}
#close{
  font-size: 25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
}
